@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #C48157;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 38px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.cover_food {
    width: 300px;
}

.container.list {
  top: 220px;
  position: relative;
  background-color: #56b3c3;
  color: #fff;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 10px #16161633);
}

.table > thead > tr > th {
    border-bottom: 5px solid white !important;
}

img.brand-icon {
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 300px;
}

thead {
  box-shadow: 0 4px 16px -2px #0003;
}
