.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: $padMar;
    padding-left: $padMar;
}
@media (min-width: $sm-min)
{
	.container {
	    width: $sm-max;
	    max-width: 100%;
	}
}
@media (min-width: $md-min)
{
	.container {
	    width: $md-max;
	    max-width: 100%;
	}
}
@media (min-width: $lg-min)
{
	.container {
	    width: $lg-max;
	    max-width: 100%;
	}
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-right: $padMar;
    padding-left: $padMar;
}