*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
body {
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: $fontSize;
    line-height: 1.5;
    color: $body-color;   
}
a {
   	color: $blue;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $dark-blue;
      text-decoration: underline;
    }
    &:active
    {
        text-decoration: underline;
    }
}
p {
    margin: $margin;
}
h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
 h1 {
    font-size: 36px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
