.img-responsive
{
	display: block;
    max-width: 100%;
    height: auto;
}
.img-rounded
{
	border-radius: 6px;
}
.img-circle {
    border-radius: 50%;
}
.img-blur {
     filter:blur(3px);
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}