//Button
$btn-padding : 12px;
$btn-padding-sm : 5px 10px;
$btn-line-sm :1.5;
$btn-size-sm : 12px;
$btn-border-sm : 3px;

$btn-padding-lg : 10px 16px;
$btn-line-lg : 1.3333333;
$btn-size-lg : 18px;
$btn-border-lg : 6px;

$btn-padding-xs : 1px 5px;
$btn-line-xs : 1.5;
$btn-size-xs : 12px;
$btn-border-xs : 3px;

//col, row and container
$gridsize: 12;
$gap: 15px;
$xs-min : 0px;
$sm-min : 768px;
$md-min : 992px;
$lg-min : 1200px;
$xsMax : 767px;
$smMax : 991px;
$mdMax : 1199px;
$sm-max : 750px;
$md-max : 970px;
$lg-max : 1170px;
$padMar : 15px;
$cont-size: ($sm-max: $sm-min, $md-max: $md-min, $lg-max: $lg-min);
$count-type: '.container', '.container-fluid';

//border
$border : 1px;
$radius : 4px;

//body
$fontSize : 14px;

//p

$margin: 0 0 10px;

//alert
$marginAlert : 20px;
//color
$body-color : #333;
$blue : #337ab7;
$dark-blue : #23527c ;
$btn-default-color : #333;
$btn-default-bg : #fff;
$btn-default-border : #ccc;
$btn-link-color : #337ab7;
$btn-link-bg :  transparent;
$btn-link-border : transparent;
$btn-color : #fff;
$btn-primary-bg : #337ab7;
$btn-primary-border : #2e6da4;
$btn-success-bg : #5cb85c;
$btn-success-border : #4cae4c;
$btn-info-bg : #5bc0de;
$btn-info-border : #46b8da;
$btn-warning-bg : #f0ad4e;
$btn-warning-border : #f0ad4e;
$btn-danger-bg : #d9534f;
$btn-danger-border : #d43f3a;
$text-muted : #777;
$text-primary : #337ab7;
$text-success : #3c763d;
$text-info : #31708f;
$text-warning : #8a6d3b;
$text-danger : #a94442;
$bg-primary : #337ab7;
$bg-success : #dff0d8;
$bg-info : #d9edf7;
$bg-warning : #fcf8e3;
$bg-danger : #f2dede;
$border-success : #d6e9c6;
$border-info : #bce8f1;
$border-warning : #faebcc;
$border-danger : #ebccd1;
