<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>exo optim code</title>

        <link rel="stylesheet" href="css/index.css" />

        <script src="js/lib/module.js"></script>
        <script src="js/lib/Component.js"></script>
        <script src="js/lib/TextCmp.js"></script>
        <script src="js/lib/DataTable.js"></script>

        <script src="js/index.js"></script>
    </head>
    <body>
        <fieldset id="people-fieldset">
            <legend>PEOPLE LIST</legend>
            <button>Load</button>
            <div id="checkbox-wrapper">
                count people who 
                    <input type="checkbox" id="d-vegan" name="diet[vegan]" value="vegan" /><label for="d-vegan">are vegan</label>
                    <input type="checkbox" id="d-veggie" name="diet[veggie]" value="veggie" /><label for="d-veggie">are veggie</label>
                    <input type="checkbox" id="d-flexi" name="diet[flexi]" value="flexi" /><label for="d-flexi">are flexi</label>
                    <input type="checkbox" id="d-meat" name="diet[meat]" value="meat" /><label for="d-meat">eat meat</label>
                    <input type="checkbox" id="d-nsp" name="diet[nsp]" value="N/A" /><label for="d-nsp">did not answer</label>
                : <span id="people-from-count"></span>
            </div>
            <div>
                count people from <input type="text" name="mail_domain" placeholder="@mail-domain.tld" /> : <span id="people-from-count"></span>
            </div>
            <div id="list"></div>
        </fieldset>
    </body>
</html>
