@each $type in $count-type {
  #{$type} {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@each $max, $min in $count-size {
  @media (min-width: $min) {
    .container {
      width: $max;
    }
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

[classs^='.col-'] {
  float: left;
  padding-left: $gap;
  padding-right: $gap;
  width: 100%;
}

@each $container, $size in $breakpoints // Container = xs, sm, md, lg / $size = $..min
{
  @media (min-width: #{$size})
  {
    @for $i from 1 through $gridsize
    {
      .col-#{$container}-#{$i}
      {
        width:  ( $i /$gridsize ) *100%;
        flex:  ( $i /$gridsize ) *100% ;
      }
    }
  }
}
