html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.row {
  margin-right: -15px;
  margin-left: -15px; }

[classs^='.col-'] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

@media (min-width: 0px) {
  .col-xs-1 {
    width: 8.3333333333%;
    flex: 8.3333333333%; }

  .col-xs-2 {
    width: 16.6666666667%;
    flex: 16.6666666667%; }

  .col-xs-3 {
    width: 25%;
    flex: 25%; }

  .col-xs-4 {
    width: 33.3333333333%;
    flex: 33.3333333333%; }

  .col-xs-5 {
    width: 41.6666666667%;
    flex: 41.6666666667%; }

  .col-xs-6 {
    width: 50%;
    flex: 50%; }

  .col-xs-7 {
    width: 58.3333333333%;
    flex: 58.3333333333%; }

  .col-xs-8 {
    width: 66.6666666667%;
    flex: 66.6666666667%; }

  .col-xs-9 {
    width: 75%;
    flex: 75%; }

  .col-xs-10 {
    width: 83.3333333333%;
    flex: 83.3333333333%; }

  .col-xs-11 {
    width: 91.6666666667%;
    flex: 91.6666666667%; }

  .col-xs-12 {
    width: 100%;
    flex: 100%; } }
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
    flex: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%;
    flex: 16.6666666667%; }

  .col-sm-3 {
    width: 25%;
    flex: 25%; }

  .col-sm-4 {
    width: 33.3333333333%;
    flex: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%;
    flex: 41.6666666667%; }

  .col-sm-6 {
    width: 50%;
    flex: 50%; }

  .col-sm-7 {
    width: 58.3333333333%;
    flex: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%;
    flex: 66.6666666667%; }

  .col-sm-9 {
    width: 75%;
    flex: 75%; }

  .col-sm-10 {
    width: 83.3333333333%;
    flex: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%;
    flex: 91.6666666667%; }

  .col-sm-12 {
    width: 100%;
    flex: 100%; } }
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333333%;
    flex: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%;
    flex: 16.6666666667%; }

  .col-md-3 {
    width: 25%;
    flex: 25%; }

  .col-md-4 {
    width: 33.3333333333%;
    flex: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%;
    flex: 41.6666666667%; }

  .col-md-6 {
    width: 50%;
    flex: 50%; }

  .col-md-7 {
    width: 58.3333333333%;
    flex: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%;
    flex: 66.6666666667%; }

  .col-md-9 {
    width: 75%;
    flex: 75%; }

  .col-md-10 {
    width: 83.3333333333%;
    flex: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%;
    flex: 91.6666666667%; }

  .col-md-12 {
    width: 100%;
    flex: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%;
    flex: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%;
    flex: 16.6666666667%; }

  .col-lg-3 {
    width: 25%;
    flex: 25%; }

  .col-lg-4 {
    width: 33.3333333333%;
    flex: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%;
    flex: 41.6666666667%; }

  .col-lg-6 {
    width: 50%;
    flex: 50%; }

  .col-lg-7 {
    width: 58.3333333333%;
    flex: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%;
    flex: 66.6666666667%; }

  .col-lg-9 {
    width: 75%;
    flex: 75%; }

  .col-lg-10 {
    width: 83.3333333333%;
    flex: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%;
    flex: 91.6666666667%; }

  .col-lg-12 {
    width: 100%;
    flex: 100%; } }
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }
  .btn, .btn:active, .btn.active {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65; }
  .btn a.btn.disabled, fieldset[disabled] .btn a.btn {
    pointer-events: none; }

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    background-image: none; }
  .btn-default.disabled, .btn-default[disabled],
  .btn-default fieldset[disabled] {
    background-color: #fff;
    border-color: #ccc; }

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2d6da3; }
  .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #285f8f;
    border-color: #204d73;
    background-image: none; }
  .btn-primary.disabled, .btn-primary[disabled],
  .btn-primary fieldset[disabled] {
    background-color: #337ab7;
    border-color: #2d6da3; }

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }
  .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    background-image: none; }
  .btn-success.disabled, .btn-success[disabled],
  .btn-success fieldset[disabled] {
    background-color: #5cb85c;
    border-color: #4cae4c; }

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da; }
  .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
    background-image: none; }
  .btn-info.disabled, .btn-info[disabled],
  .btn-info fieldset[disabled] {
    background-color: #5bc0de;
    border-color: #46b8da; }

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }
  .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
    background-image: none; }
  .btn-warning.disabled, .btn-warning[disabled],
  .btn-warning fieldset[disabled] {
    background-color: #f0ad4e;
    border-color: #eea236; }

.btn-danger {
  color: #fff;
  background-color: red;
  border-color: #e60000; }
  .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #cc0000;
    border-color: #a80000;
    background-image: none; }
  .btn-danger.disabled, .btn-danger[disabled],
  .btn-danger fieldset[disabled] {
    background-color: red;
    border-color: #e60000; }

.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0; }
  .btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none; }

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

/*# sourceMappingURL=main.css.map */
