div.wallpaper{
  z-index: -99;
  width: 100%;
  height: 100%;
  background-image: url("../img/film-poster.jpg");
  filter: blur(10px) brightness(40%);
  position: fixed;
}

.container.center {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .img {
  filter: drop-shadow( 3px 4px 3px rgba(0, 0, 0, 0.4));
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  padding-right: 64px;
}

.profile-userbuttons .btn img{
  margin-left: 10px;
}
.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  display: inline-block;
}

.profile-content p.list_title{
  font-family: 'Helvetica';
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
}
.profile-content p.movie_title{
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  color: #fff700;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  left: 20px;
  background-color: black;
  border-radius: 8px;
  padding: 0px 10px;
  box-shadow: 0px 0px 5px black;
}

.profile-content p.movie_title.one{
  bottom: 80px;
}

.profile-content p.movie_title.two{
  bottom: 40px;
}

.cover img {
  margin: 5% 0;
  width: 100%;
  box-shadow: 0px 0px 20px #000000b3;
}

/* Star */
.rating {
  direction: rtl;
  text-align: center;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}
